{% extends "basePage.html" %}
{% block content %}

   <h1>Classes :</h1>
   <div class="page2">
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Psychometric Minimum</th>
      <th scope="col">Bagrut Minimum</th>
    </tr>
  </thead>
       <tbody>
       {% for item in list %}
           <tr>
               <td>{{item["Name"]}}</td>
               <td>{{item["PsychometricMinimum"]}}</td>
               <td>{{item["BagrutMinimum"]}}</td>
           <tr>
       {% endfor %}
       </tbody>
    </table>
    </div>
{% endblock %}