{% extends "basePage.html" %}
{% block content %}

        <h1>Find Match</h1><br><br><br>
        <h4 class="mb-3">Applicant Info</h4>
       <form class="needs-validation" acnovalidate action="{{ url_for("showClassbyIDfun")}}" method="post"> <!-- action="{{ url_for("gfg")}}" method="post"-->
        <div class="row g-3">
            <div class="col-sm-6">
              <label for="ID" class="form-label">Applicant ID</label>
              <input type="text" class="form-control" id="ID" placeholder="Enter ID" value="" name="ID" required>
              <span id= "ID-error"></span>
              <div class="invalid-feedback">
                Valid ID is required.
              </div>
            </div>

             <div class="col-sm-6">
              <label for="class" class="form-label">Class Name</label>
              <input type="text" class="form-control" id="class" placeholder="" value="" name="class" required>
              <div class="invalid-feedback">
                Valid class name is required.
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" id="submit" type="submit">Search</button>
        </form>

        <br><br><br>

</div>

{% endblock %}