{% extends "basePage.html" %}
{% block content %}
     <div class="list-group">
         {% for item in options %}
            <a href="{{ url_for('statistics', option = loop.index) }}" class="list-group-item list-group-item-action">{{item}}</a>
         {% endfor %}
     </div>
    <p></p>
     <div class="list-group">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                 {% for key in list[0] %}
                    <th> {{ key }} </th>
                {% endfor %}
            </tr>
            <thead>
            <tbody>
            {% for item in list %}
            <tr>
                {% for value in item.values() %}
                    <td> {{ value }} </td>
                {% endfor %}
             </tr>
            {% endfor %}
            <tbody>
        </table>
      </div>

{% endblock %}
