{% extends "basePage.html" %}
{% block content %}

    <h1>Statistics:</h1>
     <div class="list-group">
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                 {% for key in list[0] %}
                    <th> {{ key }} </th>
                {% endfor %}
            </tr>
            <thead>
            <tbody>
            {% for item in list %}
            <tr>
                {% for value in item.values() %}
                    <td> {{ value }} </td>
                {% endfor %}
             </tr>
            {% endfor %}
            <tbody>
        </table>
      </div>

{% endblock %}
