{% extends "basePage.html" %}
{% block content %}
<!--    <h1>Options :</h1>-->
<!--    <a class='btn btn-primary' href="{{ url_for('showClass0') }}">Find match by name</a>-->


        <h1>Find Match</h1><br><br><br>
        <h4 class="mb-3">Applicant Info</h4>
       <form class="needs-validation" acnovalidate action="{{ url_for("showClass")}}" method="post"> <!-- action="{{ url_for("gfg")}}" method="post"-->
        <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" value="" name="fname" required>
              <span id= "name-error"></span>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" name="lname" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="class" class="form-label">Class Name</label>
              <input type="text" class="form-control" id="class" placeholder="" value="" name="class" required>
              <div class="invalid-feedback">
                Valid class name is required.
              </div>
            </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" id="submit" type="submit">Search</button>
        </form>

        <br><br><br>

</div>

{% endblock %}