{% extends "showClass0.html" %}
{% block content %}

   <h1>Classes :</h1>
   <div class="page2 table-responsive">
       <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Class</th>
        <th scope="col">Institution</th>
      <th scope="col">Bagrut Difference</th>
      <th scope="col">Psychometric Difference</th>
    </tr>
  </thead>
       <tbody>
       {% for item in list %}
           <tr>
               <td>{{item["ClassName"]}}</td>
               <td>{{item["Institution"]}}</td>
               <td>{{item["BagrutDiff"]}}</td>
               <td>{{item["PsychometricDiff"]}}</td>
           <tr>
       {% endfor %}
       </tbody>
    </table>
    </div>
{% endblock %}
