{% extends "basePage.html" %}
{% block content %}

        <h1>Find Match</h1><br><br><br>
        <h4 class="mb-3">Applicant Info</h4>
       <form class="form-validation" action="{{ url_for(algorithm)}}" method="post" novalidate>
        <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" value="" name="fname"  onkeyup="validateFname()">
              <span id= "fname-error" class="massage"></span>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" value="" name="lname" onkeyup="validateLname()">
              <span id= "lname-error" class="massage"></span>
            </div>


          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" id="submit" type="submit">Search</button>
            </div>
        </form>

        <br><br><br>



{% endblock %}